.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("pexels-craig-adderley-3526022.jpg");
  background-size: 1250px 800px;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#btn{
  position: absolute;
  top:70%;
  left:0;
   
  font-size: 29px;
  background-color: #282c34;
  border: 5px solid black 50%;
  padding: 20px;
}
#btn2{
  position: absolute;
  top:70%;
  right:0;
   
  font-size: 29px;
  background-color: #282c34;
  border: 5px solid black 50%;
  padding: 20px;
}
.xx{
  height: 50px;
  width:50px;
}
.ddd{
  position: absolute;
  text-align: center;
  
  margin: 200px 450px;
}

.abcd{
  font-size: 40px;
  color:black;
  left:0;
  position: absolute;
}
.abcde{
  font-size: 40px;
  color:black;
  right:0;
  position: absolute;
}